################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/03Nap/.vs/03Nap/v15/Server/sqlite3/storage.ide-shm
